/*
Theme Name: Meagmag
Description: News and Magazine HTML Template
Version: 1.0.0
*/
 
 
/* ==================================================================
 * Table of Contents:
 *
 * 1.0 - scrollbar style on webkit browser
 * 2.0 - Global Styles
 * 3.0 - Wrapper
 * 4.0 - Header
 * 5.0 - Top Navgation Bar
 * 6.0 - News Ticker
 * 7.0 - Social Icons
 * 8.0 - header container
 * 9.0 - Logo
 * 10.0 - Top Banner
 * 11.0 - Main Navgation Bar
 * 12.0 - Search block in main Navgation
 * 13.0 - featured Posts
 * 14.0 - Home Boxes 
 * 15.0 - Boxes Title
 * 16.0 - Boxes content
 * 17.0 - Box article
 * 18.0 - advertisement
 * 19.0 - scroll box
 * 20.0 - Snigle article
 * 21.0 - related-posts
 * 22.0 - author box
 * 23.0 - Review
 * 24.0 - Sidebars
 * 25.0 - widgets
 * 26.0 - sidebar posts
 * 27.0 - rss widget
 * 28.0 - tag cloud widget
 * 29.0 - Social Counter
 * 30.0 - widget posts
 * 31.0 - search widget
 * 32.0 - Flickr Widget 
 * 33.0 - comments widget
 * 34.0 - slider widget
 * 35.0 - soundcloud widget
 * 36.0 - tab widget
 * 37.0 - ads widgets
 * 38.0 - left sidebar
 * 39.0 - Footer
 * 40.0 - Footer Social Icons
 * 41.0 - Footer Widgets
 * 42.0 - footer bar
 * 43.0 - Footer Menu
 * 44.0 - Go to top Icon
 * 45.0 - Archive
 * 46.0 - pagination
 * 47.0 - content head
 * 48.0 - Archive author box
 * 49.0 - contact
 * 50.0 - Ticker Styling
 * 51.0 - FlexSlider
 * 52.0 - Responsive
 
================================================================== */
/* scrollbar style on webkit browser
===========================================*/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #E74C3C;	
}



/* Global Styles
============================================*/

body{
	font-family: 'Roboto', sans-serif;
	background:#eee;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

a{
	text-decoration: none ;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: #3d3d3d;
}

a:hover{
	text-decoration:underline;
	color: #E74C3C;
}

a:focus{
	text-decoration:none;
	color: #E74C3C;
}

h1,h2,h3,h4,h5{
	font-family:'Roboto Condensed', sans-serif;
	font-size: 12px;
	margin: 5px 0 5px;
}

.push_bottom_30{
	margin-bottom: 30px;
	display: block;
}

.push_bottom_40{
	margin-bottom: 40px;
	display: block;
}

button, input, select, textarea{
	max-width: 100%;
}

.form-control {
	-webkit-box-shadow: none !important;    
	box-shadow: none !important;
	background: #F0F0F0;
	color: #777777;
	-webkit-transition: all 0.3s;    
	-moz-transition: all 0.3s;    
	transition: all 0.3s;
	font-size: 12px;
	padding-top: 8px;
}

.form-control:focus {
	border-color: #ccc;
	background: #fff;
}

.btn-default {
	color: #FFF;
	background-color: #E74C3C;
	border: none;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	font-size: 12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-default:hover {
	color: #FFF;
	border: none;
	background-color: #1C2A39;
}

label {
	font-weight: normal;
}

br {
	content: no-close-quote;
	display: block;
	margin-bottom: 15px;
}

.main-color{
	color: #E74C3C;
}

.background {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	background-repeat: no-repeat;
	top: 0;
	left:0;
	z-index: -10;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/* === Wrapper === */

.wrapper{
	background: #fff;
	width:100%;
}

/* Header 
============================================*/

/* === Top Navgation Bar === */

#top-nav{
	min-height: 50px;
	background: #2c3a49;
}

/* === News Ticker === */

#news-ticker{
	background: #2c3a49;
	height: 50px;
	line-height: 50px;
	position: relative;
}

#news-ticker-title{
	background: #E74C3C;
	padding: 0 15px;
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed';
	float: left;
	line-height: 57px;
	height: 50px;
	left: 0px;
	position: absolute;
	top: -7px;
}

#news-ticker-title:before {
	content: no-close-quote;
	position: absolute;
	border: 7px solid transparent;
	border-right : 7px solid #2c3a49;
	top: 0;
	left: -14px;
	bottom: 0;
}

#news-ticker-title i{
	display: none;
	line-height: 55px;
}

/* === Social Icons === */		

.social-icons ul{
	padding: 0;
}

.social-icons ul:after {
	content: no-close-quote;
	display: table;
	clear: both;
}

.social-icons ul li {
	display: inline-block;
	float: right;
	margin: 10px 0 0 5px;
}

.social-icons ul li a{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	color: #2C3A49;
	font-size: 15px;
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.social-icons ul li a:hover{
	color: #fff;
}

.social-icons ul li.facebook a:hover{
	box-shadow: inset 0 -30px 0 0 #44619D;
}

.social-icons ul li.twitter a:hover{
	box-shadow: inset 0 -30px 0 0 #00BAFF;
}

.social-icons ul li.youtube a:hover{
	box-shadow: inset 0 -30px 0 0 #C30000;
}

.social-icons ul li.google a:hover{
	box-shadow: inset 0 -30px 0 0 #E71414;
}

.social-icons ul li.pin a:hover{
	box-shadow:inset 0 -30px 0 0 #C21F25;
}

.social-icons ul li.rss a:hover{
	box-shadow: inset 0 -30px 0 0 #FF7E00;
}

.social-icons ul li.vk a:hover{
	box-shadow: inset 0 -30px 0 0 #4A6A89;
}

.social-icons ul li.tumblr a:hover{
	box-shadow: inset 0 -30px 0 0 #2C4762;
}

.social-icons ul li.instagram a:hover{
	box-shadow: inset 0 -30px 0 0 #3F729B;
}

.social-icons ul li.linkedin a:hover{
	box-shadow: inset 0 -30px 0 0 #007BB6;
}

.social-icons ul li.github a:hover{
	box-shadow: inset 0 -30px 0 0 #444;
}

.social-icons ul li.foursquare a:hover{
	box-shadow: inset 0 -30px 0 0 #0072B1;
}

.social-icons ul li.flickr a:hover{
	box-shadow: inset 0 -30px 0 0 #FF0084;
}

.social-icons ul li.dropbox a:hover{
	box-shadow: inset 0 -30px 0 0 #1087DD;
}

.social-icons ul li.bitbucket a:hover{
	box-shadow: inset 0 -30px 0 0 #205081;
}

/* === header container === */

#header-container{
	padding-top: 40px;
	padding-bottom: 40px;
}

/* === Logo === */

#logo a:hover{
	text-decoration: none;
}

#logo h1{
	color: #1C2A39;
	margin: 0;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
}

#logo .description {
	color: #9E9E9E;
}

.center-logo{
	text-align:center;
}

/* === Top Banner === */

#top-banner{
	text-align: right;
}

.center-banner{
	text-align: center !important;
	margin-top: 40px;
}

/* === Main Navgation Bar === */

#main-nav {
	background: #1C2A39;
	min-height: 70px;
	position: relative;
	color:#ccced1;
	margin: 0;
	border-radius: 0;
	border:0;
	z-index: 99999;
}

#main-nav-bar {
	padding: 0;
}

#main-nav ul {
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
}

#main-nav ul:after {
	content: no-close-quote;
	display: block;
	clear: both;
}

#main-nav ul li.menu-item {
	position:relative;
	font-size:16px;
	font-family:'Roboto Condensed', sans-serif;
	z-index: 99;
}

#main-nav ul li#magic-line { 
	position: absolute ;
	top: 0px;
	height: 70px ;
	left: 0;
	width: 0;
	z-index: 9;
	background: #E74C3C;
}
#magic-line:after {
	display: none;
}

#main-nav ul li.menu-item:after {
	content: no-close-quote;
	position: absolute;
	right: 0;
	top: 20px;
	bottom: 20px;
	width: 1px;
	background: rgba(131, 141, 152, 0.2);
}

#main-nav ul li.menu-item a {
	color: #dfdfdf;
	text-decoration: none;
	display: inline-block;
	padding:15px 20px;
	text-transform: uppercase;
	display: block;
	width: 100%;
}

#main-nav ul li.menu-item a.mega-article {
	padding: 0 !important;
}

#main-nav .glyphicon {
	font-size: 12px;
	float: left;
	line-height: inherit;
	margin-right: 4px;
}

#main-nav ul li.menu-item .description{
	display: block;
	color: #838D98;
	font-size: 12px;
	text-transform: uppercase;
	-webkit-transition: all  0.3s;
	-moz-transition: all  0.3s;
	-o-transition: all  0.3s;
	transition: all  0.3s; 
}
#main-nav ul li.current-menu-item .description,
#main-nav ul li.current-menu-ancestor .description,
#main-nav ul li.current-menu-parent .description,
#main-nav ul li.current-menu-item a,
#main-nav ul li.current-menu-ancestor a,
#main-nav ul li.current-menu-parent a{
	color: #fff;
}

#main-nav ul.nav:hover li a{
	color: #dfdfdf;
}
#main-nav ul.nav:hover li a .description{
	color: #838D98;
}

#main-nav ul li.menu-item:hover > a {
	color: #fff;
}

#main-nav ul li.menu-item:hover a .description{
	color: #fff;
}

.caret{
	margin-left: 8px;
}

#main-nav ul li.menu-item ul.dropdown-menu li {
	width: 100%;
	padding: 0;
	line-height: 1;
	float: none;
	display:block;
	height: auto;
	border:1px solid rgba(0, 0, 0, 0.15);
	border-top-width:0; 
}

#main-nav ul li.menu-item ul.dropdown-menu li .description{
	display: none;
}

#main-nav ul li.menu-item ul.dropdown-menu li:after {
	display: none;
}

#main-nav ul li.menu-item ul.dropdown-menu li a{
	padding:0 20px;
	line-height:40px;
	display:block;
	font-size:12px;
	font-family: 'Roboto';
	color:#efefef;
	background-color:transparent ;
	text-shadow: 0 0 50px #000;
}


#main-nav ul li.menu-item ul.dropdown-menu li:hover > a,#main-nav ul.dropdown-menu li.current-menu-item a{
	padding-left: 30px;
	color:#fff ;
	background: rgba(0, 0, 0, 0.15) ;

}

#main-nav ul li.menu-item ul.dropdown-menu li:first-child{
	border-top:none;
}

#main-nav ul li.menu-item ul.dropdown-menu span.caret {
	display: none;
}

.open a, .open a:hover {
	background: transparent !important;
}

button.navbar-toggle {
	background-color: rgba(0, 0, 0, 0) !important;
	border: 0;
	padding: 13px 9px 28px;
	margin: 15px 15px 0;
	float: left;
}

.navbar-default .navbar-collapse {
	border: 0 !important;
}
.mega-link .dropdown-ul{
	display: none !important;
}

.mega-menu{
	padding: 15px 0 20px;
}

.mega-menu .star-rating:before{
	color: #1C2A39
}

.mega-menu .article-meta{
	color: #838D98
}


.mega-menu .article-title a:hover{
	color: #E74C3C !important;
}

/* === Search block in main nav === */

.search-block {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index:9999;
	background: #12202F;
}

.search-block button {
	display: none;
}

.search-block input {
	height: 50px;
	width: 50px;
	border: 0;
	outline: 0;
	padding: 0 15px;
	position: relative;
	z-index: 99;
	-webkit-transition: all 0.3s;  -moz-transition: all 0.3s;  -o-transition: all 0.3s;  transition: all 0.3s;
	cursor: pointer;
	background: transparent;
	color: #F5F5F5;
}

.search-block input:focus{
	width: 250px;
}

.search-block:after {
	display: inline-block;  font-family: FontAwesome;
	font-size: 16px;
	content: "\f002";  
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
	text-align: center;
	line-height: 50px;
	top: 0;
	color: #F5F5F5;
	z-index: 9;
}
.search-block input::-webkit-input-placeholder {
	color: #F5F5F5;
}

.search-block input:-moz-placeholder { /* Firefox 18- */
	color: #F5F5F5;  
}

.search-block input::-moz-placeholder {  /* Firefox 19+ */
	color: #F5F5F5;  
}

.search-block input:-ms-input-placeholder {  
	color: #F5F5F5;  
}

/* ===  featured Posts=== */

#featured{
	position: relative;
}

#featured .row{
	margin: 0;
}

.featured-item{
	padding:0;
}

.featured-item.right-item{
	float: right;
}

#featured .slider-item{
	display: none;
}

#featured .slider-item:first-child{
	display: inline-block;
	float: left;
}

.category-title {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	z-index: 9999;
	background: #E74C3C;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;
}

.featured-caption , .slider-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: -moz-linear-gradient(top, rgba(25,35,45,0) 0%, #1C2A39 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25, 35, 45, 0)), color-stop(100%,#1C2A39 ));
	background: -webkit-linear-gradient(top, rgba(25, 35, 45, 0) 0%,#1C2A39  100%);
	background: -o-linear-gradient(top, rgba(25,35,45,0) 0%,#1C2A39  100%);
	background: -ms-linear-gradient(top, rgba(25,35,45,0) 0%,#1C2A39 100%);
	background: linear-gradient(to bottom, rgba(25, 35, 45, 0) 0%,#1C2A39  100%);
	padding: 75px 20px 20px;
	text-align: center;
	z-index: 999;
}

.featured-caption h2,.slider-caption h2  {
	color: #FFF;
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0;
}

.first-item .featured-caption h2{
	font-size: 28px
}

.featured-caption p {
	color: #CCC;
	margin-bottom: 0;
	margin-top: 10px;
}

.featured-caption .article-meta{
	color: #E2E2E2;
	text-align: center;
}

.featured-item > a {
	display: block;
	overflow: hidden;
}

.other-item a img{
	width: 100%;
}
#featured .article-review {
	display: block;
	margin-bottom: 10px !important;
}

#featured .article-review:after{
	display: none;
}

#featured .article-review .star-rating {
	left: 50%;
	margin-left: -32.55px;
}

/* === Home Boxes === */

.category-box {
	position: relative;
	border-bottom: 4px double #ddd;
}

.box-style1 .other-article {
	float: right;
	clear: right;
}


.box-style2 .first-article .article-image,.box-style3 .article .article-image{
	float: left;
	margin-right: 30px;
	width: 48%;
}

.box-style5{
	width: 48%;
	margin-right: 30px;
	padding: 0;;
}
.box-style5.last{
	margin-right:0;
}

/* === Boxes Title === */
.box-title{
	height: 40px;
	display: inline-block;
	line-height: 40px;
	padding:0 15px;
	background: #E74C3C;
	position: absolute;
	top: 15px;
	left: 15px;
	margin: 0;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 999;
}
.box-title a,.box-title span{
	color: #fff;
	display: inline-block;
	height: 40px;
	text-decoration: none !important;
}

/* === Boxes content === */
.box-content{
	padding: 0;
	margin-bottom: 0;
}

.box-content > li {
	display: inline-block;
}

.box-content h4 {
	margin-top: 0;
	font-size: 10px;
}

.box-content h3 a,.box-content h4 a {
	color: #1C2A39;
}

.box-content h3 a:hover, .box-content h4 a:hover {
	color: #E74C3C;
	text-decoration: none;
}

/* === article === */
.article{
	padding-bottom: 30px;
}

.other-article:after,.first-article:after{
	content: no-close-quote;
	display: block;
	clear: both;
}



.other-article .article-image {
	float: left;
	margin-right: 15px;
}

.article-image {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}

.article-image a {
	display: block;
	background: #ddd;
}

.article-image img {
	position: relative;
	z-index: 99;
}

.article-type {
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 14px;
	color: #FFF;
	background: rgba(28, 42, 57, 0.6);
	z-index: 9999;
	margin-left: -15px;
	margin-top: -15px;
	-webkit-transition: all 0.3s;
	-moz-transition: opacity 0.3s;  
	transition: all 0.3s;
}

.read-more,.more-link {
	display: inline-block;
	line-height: 26px;
	height: 30px;
	padding: 0 15px;
	border: #E74C3C 2px solid;
	color: #E74C3C;
	-webkit-border-radius: 3px;  
	-moz-border-radius: 3px;  
	border-radius: 3px;
	font-size: 12px;
	margin-top: 10px
}

.read-more:hover{
	text-decoration: none;
	color: #2c3a49 !important;
	border-color: #2c3a49 !important;
}

.article-meta {
	margin-bottom: 10px !important;
	padding: 0;
	line-height: 0;
	color: #a0a0a0;
}

.article-meta li {
	display: inline-block;
	height: 15px;
	margin-top: 0 !important;
	margin-bottom:0 !important;
	padding: 0;
	font-size: 11px;
	color: inherit;
}

.article-meta li i {
	float: left;
	line-height: 1;
	text-align: center;
	color: inherit;
	margin: 0;
}

.article-meta li a{
	color: inherit;
}

.article-meta li span {
	padding: 0 5px;
	line-height: 15px;
	color: inherit;
	display: inline-block;
	float: left;
	margin-right:10px;
}

.article-meta li:after{
	content: "/";
	display: inline-block;
	float: left;
	line-height: 15px;
	margin-right: 10px;
}

.article-meta li:last-child:after{
	display: none;
}

.article-meta li:last-child{
	margin-right: 0;
}

.article-meta li:last-child span{
	padding-right: 0;
	margin-right: 0;
}

.article-excerpt {
	color: #747474;
}
.article-excerpt p{
	margin:0;
}

/*===  advertisement ===*/

.advertisement {
	padding-bottom: 30px;
	border-bottom: 4px double #ddd;
	text-align: center;
}

/*==scroll box==*/
.scroll-box {
	padding-bottom: 30px;
	overflow-x: hidden;
}

.scroll-box .box-title {
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 15px;
}

.scroll-dir {
	position: absolute;
	top: 10px;
	right: 0;
}

.scroll-dir a {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #E74C3C;
	text-align: center;
	line-height: 20px;
	color: #fff;
	font-size: 10px;
}

.scroll-item.row {
	min-width: 100% !important;
}

.scroll-article .article-image a {
	min-height: 140px;
}

.scroll-article .article-title {
	position: absolute;    bottom: 0;    left: 0;    right: 0;    background: -moz-linear-gradient(top, rgba(25,35,45,0) 0%, #1C2A39 100%);    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25, 35, 45, 0)), color-stop(100%,#1C2A39 ));    background: -webkit-linear-gradient(top, rgba(25, 35, 45, 0) 0%,#1C2A39 100%);    background: -o-linear-gradient(top, rgba(25,35,45,0) 0%,#1C2A39 100%);    background: -ms-linear-gradient(top, rgba(25,35,45,0) 0%,#1C2A39 100%);    background: linear-gradient(to bottom, rgba(25, 35, 45, 0) 0%,#1C2A39 100%);    
	padding: 15px;    text-align: center;    z-index: 999;
	margin: 0;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
}

.scroll-article .star-rating {
	position: absolute;
	z-index: 999;
	right: 5px;
	top: 5px;
}



/* === Snigle article === */

.breadcrumb {
	position: relative;    background: #FFF;    border: 1px solid #DDD;
	font-weight: bold;
}

.breadcrumb:after,.breadcrumb:before {
	content: no-close-quote;
	position: absolute;
	bottom: -16px;
	border: 8px solid rgba(221, 221, 221, 0);
	border-top: 8px solid #DDD;
	left: 15px;
}

.breadcrumb:after {
	border-top: 8px solid #FFF;
	bottom: -14px;
}

.breadcrumb a {
	color: #E74C3C;
}

.breadcrumb>.active {
	color: #919191;
}

.post-meta li {
	margin-right: 15px;
	color: #868686;
	font-size: 12px;
}

.post-meta li i {
	margin-right: 7px;
}

.post-meta li a {
	color: inherit;
}

.post-meta li a:hover{
	color: #E74C3C;
}

.post-entry {
	color: #666;
	font-size: 16px;
	line-height: 1.714286;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.post-tagcloud {
	color: #868686;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}

.post-tagcloud span,.post-tagcloud a {
	margin: 0 5px 0 0;
}

.post-share a {
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
	display: inline-block;
	color: #FFF;
	font-size: 13px;
	text-transform: capitalize;
}

.post-share a:hover{  
	background: #2C3A49;
	text-decoration: none;
}

.facebook-share {  
	background: #5D82D1;
}

.twitter-share {  
	background: #40BFF5;
}

.google-share {
	background: #EB5E4C;
}

.linkedin-share {
	background: #007BB6;
}

.Pinterest-share {
	background: #CB2027;
}

.post-links {
	font-size: 16px !important;
}

.pager a{
	border: none !important;
}

.pager a:hover,.pager a:focus{
	background: #fff !important;
}

.pager .previous> i {
	float: left;
	padding-top: 9px;
}

.pager .next> i {
	float: right;  
	padding-top: 9px;
}
/* === related-posts ===*/
.related-posts {
	position: relative;
}

.related-item {
	margin-bottom: 20px;
}

.related-item:first-child {
	padding-left: 14px;
}

.related-item .img-bg{
	display: block;
	background: #E74C3C
}

.related-item a img{
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related-item .post-meta{
	margin-top: 10px;
}

.related-item .post-title a{
	color: #2C3A49;
}

.related-item .post-title a:hover{
	color: #E74C3C;
}

/* === author box ===*/
.author-box {
	border: 4px double #ddd;
	padding: 20px;
}

.author-box h3 {
	margin-top: 0;
}

.author-box p {
	color: #868686;
}

.author-box ul {
	margin-bottom: 0;
}

.author-social-links li a {
	font-size: 15px;
	color: #A8A8A8;
}

.author-social-links li a:hover {
	color: #E74C3C;
}

/* === Review === */

.review-box{
	margin:0 0  30px 0;
	max-width: 100%;
	background: #2c3a49;
}

.review-box-header {
	color: #dfdfdf;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	text-transform: capitalize;
	padding: 0 15px;
	margin: 0;
}

.review-box.top{
	width: 60%;
	float: left;
	margin: 0 20px 20px 0;
}

.review-item {
	clear: both;
	background: #34495E;
	height: 40px;
	padding: 15px;
	border: solid 1px #2c3a49;
	border-top-width: 0;
	color: #94A2B1;
}

.review-item h5{
	float: left;
	font-size: 13px;
	color: inherit;
	margin: 0;
}

.review-points {
	background: #E74C3C;
	width: 112px;
	position: absolute;
	top: 0px;
	bottom: 0;
	right: 0;
	text-align: center;
	color: #dfdfdf;
}

.review-points h3{
	color: #fff;
	font-size: 23px;
}

.review-summary-box {
	position: relative;
	min-height: 80px;
}

.review-summary {
	display: inline-block;
	padding: 15px;
	padding-right: 112px;
}

.review-summary p{
	font-size: 13px;
	color: #e6e6e6;
	font-weight: normal;
	margin: 0;
}

.review-item .star-rating {
	float: right;
}

.review-item .star-rating:before {
	color: #23292F;
}

.review-item .star-rating:before,.review-item .star-rating-color:before {
	font-size: 15px;
}

.review-points .star-rating:before {
	color: #2C3A49;
}

.review-points .star-rating-color:before {
	color: #dfdfdf;
}

.review-points .star-rating {
	float: none;
	position: absolute;
	right: 50%;
	margin-right: -32px;
}

.star-rating {
	position: relative;
	float: left;
	height: 14px;
	line-height: 14px;
	font-family: 'FontAwesome';
	font-size: 14px;
}

.star-rating:before {
	content: attr(data-content);
	font-family: 'FontAwesome';
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	white-space: nowrap;
	color: #ccc;
}

.star-rating-color {
	font-family: 'FontAwesome';
	font-size: 14px;
	width: 0;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}

.star-rating-color:before {
	content: attr(data-content);
	color: #E74C3C;
	font-family: 'FontAwesome';
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	white-space: nowrap;
}

/*=== Sidebars ===*/

/*=== widgets ===*/
.widget {
	position: relative;  
	color: #747474;    
}

.sidebar .widget{
	background: #fff;
	border: 1px solid #ddd;
	padding:15px;
	border-bottom: 2px solid #E74C3C;
}

.widget-title {
	font-size: 16px;    
	text-transform: uppercase;    
	margin: 0 0 15px 0;         
	border-bottom: 4px double #DDD;
	color: #E74C3C;
}

.widget-title span {
	display: inline-block;
	padding-bottom: 10px;
	border-bottom: 4px solid #E74C3C;
	margin-bottom: -4px;
}

.widget a{
	color: #747474;
	text-decoration: none;
}

.widget a:hover{
	color: #E74C3C;
}

.widget-title a{
	text-decoration: none;
	color: #E74C3C ;
}

.widget-title a:hover{
	color: #1C2A39 ;
}

.widget ul,.widget ol{
	padding-left: 20px;
	margin-bottom: 0;
}

.widget li{
	margin: 10px 0;;
}

.widget li .badge{
	float: right;
	border-radius: 3px;
	padding: 3px 15px;
	background: #E74C3C;
}

.widget ul li:last-child,.widget ol li:last-child {
	margin-bottom: 0;
}

.widget img{
	max-width: 100%;
	height: auto;
}

/* === sidebar posts ===*/

.sidebar .article{
	padding: 0 15px;
	margin-bottom: 15px;
}

/*=== rss widget ===*/
.widget_rss ul {
	padding: 0;
}

.widget_rss li {
	display: block;
	margin-bottom: 20px;
}

.widget_rss li .rsswidget {
	font-size: 16px;
	display: block;
	color: #2C3A49;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 5px;
}

.widget_rss li .rsswidget:hover {
	color: #E74C3C;
}

span.rss-date ,.widget_rss cite {
	display: inline-block;    height: 15px;    
	margin-bottom: 5px;        font-size: 11px;
	color: #A0A0A0;
}

.rssSummary {
	margin-bottom: 5px;
}

/*=== tag cloud widget ===*/

.widget .tagcloud a {
	font-size: 12px !important;
	background: #F0F0F0;
	padding: 5px 8px;
	color: #747474;
	margin-bottom: 3px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;  
	border-radius: 3px;
}

.widget .tagcloud a:hover {
	background: #ccc;
}

/*=== Social Counter ===*/
.widget-social-counter {
	padding: 0 15px !important;
	border:none !important;
}

.widget .count {
	text-align: center;
	padding: 0 5px;
}

.widget .count:first-child{
	padding: 0 10px 0 0;
}

.widget .count:last-child{
	padding: 0 0 0 10px;
}

.widget .count a{
	display: block;
	text-decoration: none;
	color: #fff;
	position: relative;
	padding: 50px 0 10px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.widget .count.facebook-count a{
	background: #44619D;
}

.widget .count.twitter-count a{
	background: #00BAFF;
}

.widget .count.google-count a{
	background: #E71414;
}

.widget .count a:hover{
	background: #2c3a49;
}

.widget .count i {
	height: 50px;
	width: 50px;
	display: block;
	line-height: 50px;
	font-size: 20px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	top: -6px;
	background: #1C2A39;

}

.widget .count i:after {
	content: no-close-quote;
	border: 7px solid rgba(0, 0, 0, 0);
	border-bottom: 7px solid #1C2A39;
	position: absolute;
	top: -7px;
	left: -7px;
}

.widget .count span {
	display: block;
	line-height: 25px;
}

.widget .count small {
	display: block;
}

/*=== widget posts===*/

.widget .box-content .article:last-child{
	margin-bottom: 0;
}

/*=== search widget ===*/

.widget_search .form-group{
	margin-bottom: 0;
}

/*=== Flickr Widget ===*/

.flickr-widget {
	padding: 15px 22.5px !important;
}

.flickr.row {
	margin-bottom: -15px;
}

.flickr-widget .widget-title{
	margin: 0 -7.5px 15px;
}

.flickr_badge_image {
	width: 25%;
	float: left;
	padding: 0 7.5px;
	margin-bottom: 15px;
}

.flickr_badge_image a {
	line-height: 0;
	display: block;
	background: #2C3A49;
}

.flickr_badge_image a img {
	width: 100%;
}

/*===comments widget === */

.widget-comments-item .article-image a img{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/*===slider widget ===*/

.flexslider ul,.flexslider ol{
	padding: 0;
}

/*===soundcloud widget===*/

.sound iframe{
	width: 100%;
}

/*=== tab widget ===*/

.sidebar .widget-tabbed {
	background: none;
	border: none;
	padding: 0;
}

.sidebar .tab-content {
	background: #FFF;
	border: 1px solid #DDD;
	padding: 15px;
	border-bottom: 2px solid #E74C3C;
}

.nav-tabs {
	padding: 0 !important;
	margin-bottom: 15px !important;
	background: #1C2A39;
	height:40px;
	position: relative;
	border-bottom:none;
}

.nav-tabs li {
	margin:0;
	width:25%;
	text-align:center;
	height: 40px;
	z-index: 99;
}

.nav-tabs li a {
	display: block;
	border:none !important;
	background:none !important;
	padding:10px 0;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	color: #dfdfdf;
}

.nav-tabs li.active a {
	color:#fff !important
}

.nav-tabs:hover li a{
	color: #dfdfdf !important;
}

.nav-tabs li a:hover{
	color: #fff !important;
}

.tab-magic-box{
	position: absolute !important;
	height: 40px;
	background: #E74C3C;
	z-index: 9 !important;
}

/* ads widgets */

.widget.content-only {
	border: none !important;
	padding: 0 !important;
	margin-top: -15px;
}

.advertisement-widget .widget-title {
	margin-bottom: 0;
}

.ads-block{
	margin-top: 15px;
	text-align: center;
}

.ads-block *{
	margin:0 auto;
	text-align: center;
}

/* === left sidebar ===*/

.left #main-container {
	float: right;
}

/*=== Footer ===*/

#footer{
	background: #2c3a49;
	color: #969696;
	position: relative;
}

/*=== Footer Social Icons ===*/

.footer-social-icons {
	text-align: center;
	margin: 40px 0;
}

.footer-social-icons ul {
	margin: 0;
}

.footer-social-icons ul li {
	float: none;
	margin-top: 0px;
}

.footer-social-icons ul li a {
	background: #12202F;
	color: #838D98;
}

.footer-social-icons ul li a:hover{
	color: #fff;
}

/*=== Footer Widgets*/

.footer_widgets_area{
	margin-top: 40px;
}

#footer .widget-title {
	border-bottom: 1px solid #1C2A39;
}

#footer .widget a,#footer .widget {
	color: #838D98;
}

#footer .widget a:hover{
	color: #E74C3C
}

#footer .widget-title a{
	text-decoration: none;
	color: #E74C3C ;
}
#footer .widget-title a:hover{
	color: #838D98 ;
}

#footer #logo h1 {
	color: #F5F5F5;
}

#footer #logo .description {
	color: #CDCDCD;
}

#footer .star-rating:before {
	color: #12202F;
}

/* footer bar*/

#footer-bar {
	background: #12202F;
}

.copyright {
	margin-bottom: 20px;
	color: #838D98;
	text-align: right;
	display: block;
	margin-top: 20px;
}
#footer_logo{
	text-transform: uppercase;
}
/*=== Footer Menu === */

#footer-nav-bar {
	text-align: left;
	margin-bottom: 20px;
	margin-top: 20px;
}

#footer-nav-bar ul {
	padding: 0;
	display: inline-block;
	margin: 0;
	border-width: 1px 0;
}

#footer-nav-bar ul li {
	display: inline-block;
}

#footer-nav-bar ul li a {
	font-size: 16px;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	color: #838D98;
}

#footer-nav-bar ul li a:hover {
	text-decoration: none;
	color: #fff;
}

#footer-nav-bar ul li a:after {
	content: "|";
	margin-left: 15px;
	margin-right: 15px;
	color: #838D98 !important;
}

#footer-nav-bar ul li:last-child a:after {
	content: "";
	display: none;
}

/**=== Go to top Icon ===*/

#top-control {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #E74C3C;
	line-height: 40px;
	text-align: center;
	color: #fff;
	bottom: 90px;
	right: 0px;
	cursor: pointer;
}

.boxed #top-control{
	right: -8px;
}

.boxed #top-control:after {
	content: no-close-quote;
	border: 4px solid rgba(255, 255, 255, 0);
	border-top: 4px solid #12202F;
	border-left: 4px solid #12202F;
	position: absolute;
	bottom: -8px;
	right: 0px;
}

/*=== Archive ===*/

.thumb-style .article-image {
	float: left;
	margin-right: 30px;
}

.thumb-style .article-title {
	margin-top: 0;
}

.thumb-style:after,.blog-box:after {
	content: no-close-quote;
	display: block;
	clear: both;
}

.masonry-style {
	float: none;
	display: inline-block;
	margin-left: -5px;
}

/*=== pagination ===*/

.pagination {
	float: right;
}

.pagination>li> a {
	color: #E74C3C;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #E74C3C;
	border-color: #E74C3C;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color: #E74C3C;
}

/*=== content head ===*/

.content-head {
	font-size: 16px;    text-transform: uppercase;    margin: 15px 0;    border-bottom: 4px double #DDD;    color: #E74C3C;
}

.content-head .content_head {
	display: inline-block;    padding-bottom: 10px;    border-bottom: 4px solid #E74C3C;    margin-bottom: -4px;
}

/*=== Archive author box ===*/

.author-box-archive.author-box {
	padding: 0 15px;
	border: 0;
}

.author-wrapper {
	padding: 15px;
	border: 4px double #ddd;
}

/* contact */

#contact-info {
	border: 4px double #ddd;
	padding: 20px;
	margin-bottom: 30px;
}

#map {
	margin-bottom: 30px;
}

#contact h3 {
	margin-top: 0;
}

/* Ticker Styling */

.ticker-wrapper.has-js {
	display: inline-block;
	height: 50px;
	background: rgba(231, 76, 60, 0);
	float: left;
	width: 100%
}
.ticker {
	width: 100%;
	height: 50px;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: rgba(231, 76, 60, 0);
}

.ticker-content {
	position: absolute;
	color: #1F527B;
	background-color: rgba(231, 76, 60, 0);
	overflow: hidden;
	white-space: nowrap;
	line-height: 50px;
}

.ticker-content:focus {
}

.ticker-content a {
	text-decoration: none;	
	color: #838D98;
}

.ticker-content a:hover {
	color: #fff;
}

.ticker-swipe {
	padding-top: 17px;
	position: absolute;
	top: 0px;
	background-color: #2c3a49;
	display: block;
	width: 800px;
	height: 50px; 
}

.ticker-swipe span {
	margin-left: 1px;
	background-color: rgba(231, 76, 60, 0);
	border-bottom: 1px solid #566F89;
	height: 15px;
	width: 7px;
	display: block;
}

.ticker-controls {
	padding: 8px 0px 0px 0px;
	list-style-type: none;
	float: left;
}

.ticker-controls li {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}

.ticker-controls li.jnt-play-pause {
	background-image: url('../images/controls.png.html');
	background-position: 32px 16px;
}

.ticker-controls li.jnt-play-pause.over {
	background-position: 32px 32px;
}
.ticker-controls li.jnt-play-pause.down {
	background-position: 32px 0px;
}
.ticker-controls li.jnt-play-pause.paused {
	background-image: url('../images/controls.png.html');	
	background-position: 48px 16px;
}
.ticker-controls li.jnt-play-pause.paused.over {
	background-position: 48px 32px;
}
.ticker-controls li.jnt-play-pause.paused.down {
	background-position: 48px 0px;
}
.ticker-controls li.jnt-prev {
	background-image: url('../images/controls.png.html');
	background-position: 0px 16px;		
}
.ticker-controls li.jnt-prev.over {
	background-position: 0px 32px;		
}
.ticker-controls li.jnt-prev.down {
	background-position: 0px 0px;		
}
.ticker-controls li.jnt-next {
	background-image: url('../images/controls.png.html');	
	background-position: 16px 16px;	
}
.ticker-controls li.jnt-next.over {
	background-position: 16px 32px;	
}
.ticker-controls li.jnt-next.down {	
	background-position: 16px 0px;	
}
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #F8F0DB;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
	float: left;
}
.left .ticker-controls {
	padding-left: 6px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
	float: right;
}
.right .ticker-controls {
	padding-right: 6px;
}
/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
 .flex-container a:hover,
 .flex-slider a:hover,
 .flex-container a:focus,
 .flex-slider a:focus {
 	outline: none;
 }
 .slides,
 .slides > li,
 .flex-control-nav,
 .flex-direction-nav {
 	margin: 0;
 	padding: 0;
 	list-style: none;
 }
 .flex-pauseplay span {
 	text-transform: capitalize;
 }
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
 .flexslider {
 	margin: 0;
 	padding: 0;
 }
 .flexslider .slides > li {
 	display: none;
 }
 .flexslider .slides img {
 	width: 100%;
 	display: block;
 }
 .flexslider .slides:after,.flexslider:after {
 	content: "\0020";
 	display: block;
 	clear: both;
 	visibility: hidden;
 	line-height: 0;
 	height: 0;
 }
 html[xmlns] .flexslider .slides {
 	display: block;
 }
 * html .flexslider .slides {
 	height: 1%;
 }
 .no-js .flexslider .slides > li:first-child {
 	display: block;
 }
 .flexslider .slides a{
 	position: relative !important;
 	display: block !important;
 	overflow: hidden;
 	background: #1C2A39;
 }
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
 .flexslider {
 	background: #ffffff;
 	position: relative;
 	zoom: 1;
 }
 .flexslider .slides {
 	/*zoom: 1;*/
 }
 .flexslider .slides img {
 	height: auto;
 }
 .flex-viewport {
 	max-height: 2000px;
 	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
 	-ms-transition: all 1s ease;
 	-o-transition: all 1s ease;
 	transition: all 1s ease;
 }
 .loading .flex-viewport {
 	max-height: 300px;
 }
 .carousel li {
 	margin-right: 5px;
 }
 .flex-direction-nav {
 	*height: 0;
 }
 .flex-direction-nav a {
 	text-decoration: none;
 	display: block;
 	width: 40px;
 	height: 40px;
 	margin: -20px 0 0;
 	position: absolute;
 	top: 50%;
 	z-index: 10;
 	overflow: hidden;
 	line-height: 40px;
 	text-align: center;
 	font-size: 24px;
 	cursor: pointer;
 	color: #fff;
 	background: rgba(0,0,0,.6);
 	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-ms-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
 	opacity: 0.7;
 	-webkit-border-radius: 3px;
 	-moz-border-radius: 3px;
 	border-radius: 3px;
 }
 .flex-direction-nav .flex-prev {
 	left: 15px;
 }
 .flex-direction-nav .flex-next {
 	right: 15px;
 }
 .flexslider:hover .flex-direction-nav .flex-prev:hover {
 	opacity: 1;
 	background: #E74C3C;
 	color: #fff;
 }
 .flexslider:hover .flex-direction-nav .flex-next:hover {
 	opacity: 1;
 	background: #E74C3C;
 	color: #fff;
 }
 .flex-direction-nav .flex-disabled {
 	opacity: 0!important;
 	filter: alpha(opacity=0);
 	cursor: default;
 }
 .flex-pauseplay a {
 	display: block;
 	width: 20px;
 	height: 20px;
 	position: absolute;
 	bottom: 5px;
 	left: 10px;
 	opacity: 0.8;
 	z-index: 10;
 	overflow: hidden;
 	cursor: pointer;
 	color: #000;
 }
 .flex-pauseplay a:before {
 	font-family: "flexslider-icon";
 	font-size: 20px;
 	display: inline-block;
 	content: '\f004';
 }
 .flex-pauseplay a:hover {
 	opacity: 1;
 }
 .flex-pauseplay a .flex-play:before {
 	content: '\f003';
 }
 .flex-control-nav {
 	width: 100%;
 	position: absolute;
 	top: 15px;
 	left: 15px;
 	z-index: 9999;
 }
 .flex-control-nav li {
 	margin: 0 3px 0 0;
 	display: inline-block;
 	zoom: 1;
 	*display: inline;
 }
 .flex-control-paging li a {
 	width: 10px;
 	height: 10px;
 	display: block;
 	background: #666;
 	background: #fff;
 	opacity: 0.7;
 	cursor: pointer;
 	text-indent: -9999px;
 	-webkit-border-radius: 3px;
 	-moz-border-radius: 3px;
 	border-radius: 3px;
 }
 .flex-control-paging li a:hover {
 	opacity: 1;
 }
 .flex-control-paging li a.flex-active {
 	background: #E74C3C;
 	cursor: default;
 }
 .flex-control-thumbs {
 	margin: 5px 0 0;
 	position: static;
 	overflow: hidden;
 }
 .flex-control-thumbs li {
 	width: 25%;
 	float: left;
 	margin: 0;
 }
 .flex-control-thumbs img {
 	width: 100%;
 	height: auto;
 	display: block;
 	opacity: .7;
 	cursor: pointer;
 	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
 	-ms-transition: all 1s ease;
 	-o-transition: all 1s ease;
 	transition: all 1s ease;
 }
 .flex-control-thumbs img:hover {
 	opacity: 1;
 }
 .flex-control-thumbs .flex-active {
 	opacity: 1;
 	cursor: default;
 }
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
  @media (min-width: 768px){

 	.wrapper.boxed{
 		width: 768px;
 		margin: 0 auto;
 		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06),0 4px 10px rgba(0, 0, 0, 0.06);
 		-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06),0 4px 10px rgba(0, 0, 0, 0.06);
 		-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06),0 4px 10px rgba(0, 0, 0, 0.06);
 	}

	.wrapper.boxed.margin{
		margin: 30px auto;
	}

	#main-nav ul li.menu-item {
		display: inline-block;
		float: left;
		height: 70px;
	}

	#main-nav ul li.menu-item ul.dropdown-menu,#main-nav ul li.menu-item .mega-menu {
		min-width: 250px;
		position: absolute;
		left: 0px;
		top: 70px;
		background-color: #E74C3C ;
		display: none;
		z-index:999;
		border:0;
		border-radius: 0;
	}
	#main-nav ul li.menu-item .mega-menu {
		background: #2c3a49;
	}
	#main-nav ul li.menu-item:hover ul.dropdown-menu,#main-nav ul li.menu-item:hover .mega-menu{
		display: block;
		-webkit-animation: fadeInUp 300ms;
		-moz-animation: fadeInUp 300ms;
		-ms-animation: fadeInUp 300ms;
		-o-animation: fadeInUp 300ms;
		animation: fadeInUp 300ms;
	}

	#main-nav ul li.menu-item ul.dropdown-menu li > ul {
		left: 240px;
		top: 0;
		padding: 0;
		display: none !important;
	}

	#main-nav ul li.menu-item ul li:hover > ul{
		display:block !important;
	}
 }

 @media (min-width: 992px){

 	.wrapper.boxed{
 		width: 992px;
 	}

 }

 @media (min-width: 1200px){

 	.wrapper.boxed{
 		width: 1200px;
 	}

 }
 @media screen and (max-width: 1200px) {
 	.facebook-feedburner iframe{
 		width: 100%;
 	}
 	.box-style5{
 		margin-right: 24px;
 	}
 	.article img{
 		width: 100%;
 	}
 	.news-in-pic .other-pic .article-image img {
    	height: 78px;
	}
	.other-article img {
	    width: 70px;
	    height: 70px;
	}
	.thumb-style .article-image img {
	    width: 300px;
	}
	.mega-article h4 {
	    font-size: 14px;
	}
	.scroll-article
	 .article-title {
	    padding: 10px 20px;
	}
 }
 @media screen and (max-width: 1024px) {
 	#header #logo {
	    text-align: center;
	    margin-bottom: 40px;
	}
	#main-nav ul li.menu-item {
	    font-size: 14px;
	}

	.search-block {
	    display: none;
	}
	#featured img{
		width: 100%;
	}
	.article:after {
	    content: no-close-quote;
	    display: table;
	    clear: both;
	}
	.box-style2 .article-title,.box-style3 .article-title {
	    margin-top: 0;
	}
 	.news-in-pic .other-pic .article-image img {
    	height: 95px;
	}
	.boxed #top-control:after {
		display: none;
	}
	.boxed #top-control{
		right: 0;
	}
	.flex-direction-nav .flex-prev {
 		opacity: 1;
 		left: 10px;
 	}
 	.flex-direction-nav .flex-next {
 		opacity: 1;
 		right: 10px;
 	}
	.wrapper.boxed{
 		width: 100%;
 	}

 	.wrapper.boxed.margin{
 		margin: 0;
 	}
 	.left #main-container{
 		float: none;
 	}
	.wrapper.boxed{
 		width: 100% !important;
 	}
 }

@media (max-width: 768px){ 

	#main-nav ul li.menu-item ul.dropdown-menu li > ul.dropdown-menu {
		padding: 20px;
		display: block !important;
	}

	.social-icons ul li {
	    float: none;
	}

	.social-icons {
	    text-align: center;
	}
	#main-nav ul li#magic-line{
		display: none !important;
	}
	#main-nav ul li.menu-item {
	    border-bottom: 1px solid rgba(131, 141, 152, 0.2);
	}

	.navbar-nav>li>.dropdown-menu {
	    background: #2c3a49 !important;
	}

	#main-nav ul li.menu-item ul.dropdown-menu li {
	    padding-left: 20px;
	}
	.search-block{
		display: block;
	}
	.navbar-default .navbar-toggle {
	    background: #e74c3c !important;
	    padding: 28px;
	    margin: 0;
	    border-radius: 0;
	}

	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #fff;
	}

	.mega-container .article-image {
	    display: none;
	}
	div.mega-article{
		border-bottom: 1px solid rgba(131, 141, 152, 0.2);
		margin-bottom: 10px;
	}
	.featured-caption p {
	    display: none;
	}

	.featured-caption h2 {
	    font-size: 18px !important;
	}

	.featured-item {
	    float: none !important;
	}

	.other-item .article-image,
	.right-item .article-image{
		height: 150px;
	}
	.box-style1 .other-article{
		float: none;
	}
	.article-image img{
		width: 100%;
	}
	.scroll-content{
	    margin: 0 -35px 0 0;
	}
	.box-style2 .first-article .article-image, .box-style3 .article .article-image {
	    float: none;
	    margin-right: 0;
	    width: 100%;
	}

	.box-style2 h3.article-title, .box-style3 h3.article-title {
	    margin-top: 20px;
	}
	.news-in-pic .other-pic .article-image img{
		width: 100%;
		height: auto;
	}
	.box-style5{
		width: 100%;
		margin-right: 0;
	}
	.copyright {
	    text-align: center;
	}

	#top-control {
	    display: none;
	}

	#footer-nav-bar {
	    text-align: center;
	}
	#news-ticker-title span{
		display: none;
	}
	#news-ticker-title i{
		display: block;
	}

	.breadcrumb {
	    font-size: 12px;
	    font-weight: normal;
	    text-align: center;
	}

	h2.single-article-title {
	    text-align: center;
	}

	ul.post-meta.list-inline {
	    text-align: center;
	}

	.post-share {
	    text-align: center;
	}

	.post-share a {
	    margin-bottom: 6px;
	    width: 33%;
	    margin-right: 3px;
	}
	.author-box {
	    text-align: center;
	}

	.author-image img {
		margin: 0 auto 20px;
	}
	.thumb-style .article-image{
		float: none;
		margin-right: 0;
	}
	.thumb-style .article-image img{
		min-width: 100%;
	}
	.thumb-style .article-title{
		margin-top: 20px;
	}
}